<a href="<%= url_for(dog) %>">
  <div class="dog-post">
    <h2 class="dog-name"><%= dog.name %></h2>
    <div class="thumbnails">
      <% dog.images.each do |image| %>
        <figure class="figure">
          <%= image_tag url_for(image), alt: "Photo of #{dog.name}", class: "thumbnail figure-img img-fluid rounded" %>
        </figure>
      <% end %>
    </div>
  </div>
</a>

<% if (defined? dog_counter) && (dog_counter + 1) % 2 == 0 %>
  <%= image_tag 'ad.jpg' %>
<% end %>