<a href="<%= url_for(dog) %>">
  <article class="dog-post">
    <h2 class="dog-name"><%= dog.name %></h2>
    <div class="thumbnails">
      <% dog.images.each do |image| %>
        <%= image_tag url_for(image), alt: "Photo of #{dog.name}", class: "thumbnail" %>
      <% end %>
    </div>
  </article>
</a>

<% if (defined? dog_counter) && (dog_counter + 1) % 2 == 0 %>
  <%= image_tag 'ad.jpg' %>
<% end %>