/* Mobile */
@media screen 
and (max-width : 480px) {
  .thumbnails {
    --repeat: 1;
  }
}

/* Tablet */
@media screen
and (min-width : 480px) 
and (max-width : 900px) {
  .thumbnails {
    --repeat: 2;
  }
}

/* Desktop */
@media screen 
and (min-width : 900px) {
  .thumbnails {
    --repeat: 3;
  }
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(var(--repeat, 1), 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 0;
  overflow-y: hidden;
  max-height: 400px;
  gap: .5rem;
  padding: .5rem;
}

.thumbnail {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.dog-post {
  display: flex;
  flex-flow: column nowrap;
}

